/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&family=Livvic:wght@600;700&family=Nunito+Sans:wght@300;600;800&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-midnight-green: hsl(186, 98%, 17%);
  --clr-primary-light-coral: hsl(0, 87%, 73%);
  --clr-primary-white: hsl(0, 0%, 100%);

  /* secondary color */
  --clr-primary-rapture-blue: hsl(179, 42%, 63%);
  --clr-primary-police-blue: hsl(187, 41%, 29%);
  --clr-primary-jungle-blue: hsl(186, 100%, 14%);
  --clr-primary-sacramento-state-green: hsl(186, 96%, 10%);
  --clr-primary-dark-green: hsl(186, 100%, 8%);

  --ff-primary: 'Livvic', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: var(--clr-primary-white);
}
h1 {
  font-size: 100px;
  line-height: 100px;
}
h2 {
  font-size: 64px;
  line-height: 56px;
}
h3 {
  font-size: 48px;
  line-height: 48px;
}
h4 {
  font-size: 18px;
  line-height: 28px;
}
p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--clr-primary-white);
}
.body2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}
.btn {
  background: var(--clr-primary-midnight-green);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 18px;
  border: 1px solid var(--clr-primary-white);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primary-white);
  color: var(--clr-primary-sacramento-state-green);
}
.line {
  border-top: 2px solid var(--clr-primary-rapture-blue);
  width: 3rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    font-size: 0.9rem;
  }
}
/*
=============== 
Styles
===============
*/
.body-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.show-body-overlay {
  display: block;
}
/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-primary-midnight-green);
  padding: 2rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-white);
  font-size: 1.4rem;
  cursor: pointer;
  transition: var(--transition);
}
.logo {
  display: grid;
  place-items: center;
}
.nav-links-container {
  display: none;
}
.sidebar {
  display: none;
}
@media screen and (min-width: 700px) {
  .nav-links-container {
    display: inline-block;
    color: var(--clr-primary-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
  }
  .single-nav-link {
    color: var(--clr-primary-white);
    transition: var(--transition);
  }
  .single-nav-link:hover {
    color: var(--clr-primary-light-coral);
  }
  .nav-toggle {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .nav-contact-btn-link {
    color: var(--clr-primary-white);
  }
  .nav-contact-btn-link:hover {
    color: var(--clr-primary-sacramento-state-green);
  }
}
@media screen and (min-width: 900px) {
  nav {
    padding: 2rem 6rem;
  }
  .logo-img {
    width: 8rem;
  }
  .single-nav-link {
    font-size: 1rem;
  }
}
/* sidebar */
.sidebar {
  position: fixed;
  width: 23rem;
  height: 100%;
  top: 0rem;
  right: 0rem;
  background: var(--clr-primary-midnight-green);
  display: grid;
  align-items: center;
  justify-items: center;
  transform: translate(120%);
  transition: var(--transition);
}
.show-sidebar {
  transform: translate(0);
}
.single-sidebar-link {
  color: var(--clr-primary-white);
  transition: var(--transition);
}
.single-sidebar-link:hover {
  color: var(--clr-primary-light-coral);
}
.sidebar-link {
  margin-bottom: 1.5rem;
  text-align: left;
}
.sidebar-contact-btn {
  color: var(--clr-primary-white);
}
.sidebar-contact-btn:hover {
  background: var(--clr-primary-white);
  color: var(--clr-primary-sacramento-state-green);
}
.sidebar-inner-container {
  position: relative;
  height: 12rem;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.sidebar-img {
  position: absolute;
  bottom: -120%;
  right: -28%;
}
.nav-close-btn {
  position: absolute;
  right: 10%;
  top: -100%;
}

@media screen and (min-width: 700px) {
  .show-sidebar {
    transform: translate(120%);
  }
}

/*
=============== 
Homepage
===============
*/

/* Find Talent Section */
.find-talent-container {
  background: var(--clr-primary-midnight-green);
  padding: 3rem 2rem;
  padding-bottom: 0;
}
.find-talend-line {
  display: none;
}
.find-talent-image1 {
  display: none;
}
.find-talent-main h1 {
  font-size: 2.5rem;
  width: 20rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 0 auto;
}
.find-talent-main h1 span {
  color: var(--clr-primary-light-coral);
}
.find-talent-main p {
  text-align: center;
  margin: 2rem auto;
  font-size: 1.2rem;
}
.find-talent-image2-container {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .find-talent-main p {
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 8rem;
    font-size: 1rem;
    width: 28rem;
  }
}
@media screen and (min-width: 900px) {
  .find-talent-image1 {
    position: absolute;
    display: inline-block;
    left: -7rem;
    max-width: 60%;
    max-height: 60%;
  }
  .find-talent-image1 {
    max-width: 60%;
    max-height: 60%;
  }
  .find-talend-line {
    display: inline-block;
  }
  .find-talent-container {
    position: relative;
  }
  .find-talent-main {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .find-talent-main p {
    text-align: left;
    margin: 2rem auto;
    margin-bottom: 0;
    font-size: 1rem;
    width: 22rem;
  }
  .find-talent-info-container {
    display: grid;
    grid-row: 1fr;
    align-items: center;
    justify-content: center;
  }
  .find-talent-main h1 {
    font-size: 2.5rem;
    width: 20rem;
    line-height: 2.6rem;
    text-align: left;
    margin: 0;
  }
  .find-talent-image2-container {
    display: grid;
    justify-content: right;
    margin-right: 6rem;
  }
}

/* Build Team Section */
.build-team-container {
  position: relative;
  background: var(--clr-primary-jungle-blue);
  padding: 3rem;
}
.build-team-line {
  border-top: 2px solid var(--clr-primary-light-coral);
}
.build-team-container h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 2rem 0;
  margin-right: 3rem;
  width: 50vw;
}
.build-team-single-point {
  display: grid;
  justify-items: center;
  margin-bottom: 1rem;
}
.build-team-single-point-text h4 {
  color: var(--clr-primary-light-coral);
  font-size: 1.1rem;
  text-align: center;
}
.build-team-single-point-text p {
  font-size: 1rem;
  text-align: center;
}
.build-team-img-container {
  position: absolute;
  top: 0;
  right: -6rem;
}
.build-team-point-icon {
  position: relative;
  font-size: 2.2rem;
  color: var(--clr-primary-rapture-blue);
  z-index: 2;
}
.build-team-point-icon::after {
  position: absolute;
  content: '';
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--clr-primary-police-blue);
  top: 10%;
  right: -50%;
  z-index: -1;
}
@media screen and (min-width: 700px) {
  .build-team-container h2 {
    width: 70vw;
  }
  .build-team-single-point {
    justify-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
    width: 80vw;
  }
  .build-team-single-point-text h4 {
    text-align: left;
  }
  .build-team-single-point-text p {
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .build-team-main {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 3rem;
  }
  .build-team-container h2 {
    width: 30vw;
  }
  .build-team-points-container {
    width: 40vw;
  }
  .build-team-single-point {
    width: 40vw;
  }
  .build-team-single-point-text h4 {
    color: var(--clr-primary-light-coral);
    font-size: 1rem;
  }
  .build-team-single-point-text p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }
  .build-team-img-container {
    top: 19rem;
    right: -6rem;
  }
}
/* Success Stories Section */
.success-stories-container {
  position: relative;
  background: var(--clr-primary-midnight-green);
  padding-bottom: 8rem;
}
.success-stories-main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem;
  text-align: center;
}
.success-stories-main h2 span {
  color: var(--clr-primary-rapture-blue);
}
.single-story {
  padding: 2rem;
  display: grid;
  justify-items: center;
}
.single-story p {
  font-size: 1rem;
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
.single-story h3 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
  color: var(--clr-primary-rapture-blue);
}
.single-story h4 {
  font-size: 0.9rem;
  text-align: center;
  line-height: 0.1rem;
  font-weight: 300;
}
.single-story-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--clr-primary-rapture-blue);
  margin-top: 1rem;
}
.success-stories-bg-img-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 700px) {
  .success-stories-main h2 {
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }
  .single-story {
    width: 80vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .single-stories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
  .single-story {
    width: 30vw;
    margin: 0 auto;
  }
  .success-stories-main h2 {
    width: 50vw;
  }
  .single-story p {
    min-height: 13rem;
  }
}
@media screen and (min-width: 1100px) {
  .single-stories-container {
    width: 60vw;
    margin: 0 auto;
  }
  .single-story p {
    min-height: auto;
  }
}

/* Ready to start Section */

.ready-to-start-container {
  position: relative;
  background: var(--clr-primary-light-coral);
  height: 20rem;

  padding-top: 5rem;
}
.ready-to-start-main {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
}
.ready-to-start-bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ready-to-start-container h2 {
  font-size: 2rem;
  color: var(--clr-primary-jungle-blue);
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  line-height: 2rem;
}
.ready-to-start-btn {
  background: transparent;
  border: 2px solid var(--clr-primary-jungle-blue);
  color: var(--clr-primary-jungle-blue);
}
.ready-to-start-btn:hover {
  color: var(--clr-primary-white);
  background: var(--clr-primary-jungle-blue);
}
@media screen and (min-width: 700px) {
  .ready-to-start-container {
    height: 14rem;
    padding-top: 5rem;
  }
  .ready-to-start-main {
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    width: 70vw;
    margin: 0 auto;
  }
  .ready-to-start-container h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  .ready-to-start-main {
    width: 90vw;
  }
}

/* Footer */
.footer-container {
  background: var(--clr-primary-dark-green);
  padding: 3rem;
  display: grid;
  justify-items: center;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.single-footer-link {
  color: var(--clr-primary-white);
  transition: var(--transition);
}
.single-footer-link:hover {
  color: var(--clr-primary-light-coral);
}
.footer-address p,
.footer-social-media-link-container p {
  font-size: 0.9rem;
  text-align: center;
  color: var(--clr-primary-rapture-blue);
}
.footer-social-media-links {
  display: flex;
  justify-content: space-evenly;
  width: 8rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr-primary-white);
  font-size: 1.2rem;
}
@media screen and (min-width: 700px) {
  .footer-logo-links-adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 85vw;
  }
  .footer-address p {
    text-align: right;
  }
  .footer-links {
    display: flex;
    justify-content: left;
  }
  .single-footer-link {
    margin-right: 2rem;
  }
  .footer-social-media-link-container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85vw;
    align-items: center;
  }
  .footer-social-media-links {
    justify-content: left;
    width: auto;
    margin: 0;
  }
  .footer-social-media-icon {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 900px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
  }
  .footer-logo-links-adress {
    grid-template-columns: 1fr 1fr;
    width: 45vw;
  }
  .footer-address p {
    text-align: left;
    line-height: 1.5rem;
  }
  .footer-links {
    margin-bottom: 0;
  }
  .footer-social-media-link-container {
    grid-template-columns: 1fr;
    width: auto;
  }
  .footer-social-media-links {
    justify-content: right;
  }
  .footer-social-media-link-container {
    width: auto;
    align-items: right;
  }
}
