/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&family=Livvic:wght@600;700&family=Nunito+Sans:wght@300;600;800&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-midnight-green: hsl(186, 98%, 17%);
  --clr-primary-light-coral: hsl(0, 87%, 73%);
  --clr-primary-white: hsl(0, 0%, 100%);

  /* secondary color */
  --clr-primary-rapture-blue: hsl(179, 42%, 63%);
  --clr-primary-police-blue: hsl(187, 41%, 29%);
  --clr-primary-jungle-blue: hsl(186, 100%, 14%);
  --clr-primary-sacramento-state-green: hsl(186, 96%, 10%);
  --clr-primary-dark-green: hsl(186, 100%, 8%);

  --ff-primary: 'Livvic', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: var(--clr-primary-white);
}
h1 {
  font-size: 100px;
  line-height: 100px;
}
h2 {
  font-size: 64px;
  line-height: 56px;
}
h3 {
  font-size: 48px;
  line-height: 48px;
}
h4 {
  font-size: 18px;
  line-height: 28px;
}
p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.body2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}
.btn {
  background: var(--clr-primary-midnight-green);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 18px;
  border: 1px solid var(--clr-primary-white);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    font-size: 0.9rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-primary-midnight-green);
  padding: 2rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-white);
  font-size: 1.4rem;
  cursor: pointer;
  transition: var(--transition);
}
.logo {
  display: grid;
  place-items: center;
}
.nav-links-container {
  display: none;
}
.sidebar {
  display: none;
}
@media screen and (min-width: 700px) {
  .nav-links-container {
    display: inline-block;
    color: var(--clr-primary-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
  }
  .single-nav-link {
    color: var(--clr-primary-white);
  }
  .nav-toggle {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .nav-contact-btn-link {
    color: var(--clr-primary-white);
  }
}
@media screen and (min-width: 900px) {
  nav {
    padding: 2rem 6rem;
  }
  .logo-img {
    width: 8rem;
  }
  .single-nav-link {
    font-size: 1rem;
  }
}
/* sidebar */
.sidebar {
  position: fixed;
  width: 23rem;
  height: 100%;
  top: 0rem;
  right: 0rem;
  background: var(--clr-primary-midnight-green);
  display: grid;
  align-items: center;
  justify-items: center;
  transform: translate(120%);
  transition: var(--transition);
}
.show-sidebar {
  transform: translate(0);
}
.single-sidebar-link {
  color: var(--clr-primary-white);
}
.sidebar-link {
  margin-bottom: 1.5rem;
  text-align: left;
}
.sidebar-contact-btn {
  color: var(--clr-primary-white);
  width: 5rem;
}
.sidebar-inner-container {
  position: relative;
  height: 12rem;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.sidebar-img {
  position: absolute;
  bottom: -120%;
  right: -28%;
}
.nav-close-btn {
  position: absolute;
  right: 10%;
  top: -100%;
}
@media screen and (min-width: 700px) {
  .show-sidebar {
    transform: translate(120%);
  }
}
